<div class="container">
  <div class="header">
    <h1>Do you like burgers?</h1>
    <h5>(It's okay, we all do :D)</h5>
  </div>
  <div class="row">
    <div class=col-md-4>
      <div>
        <h4>Burgers you'd like to devour</h4>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Burgers you've devoured</h4>
    </div>
  </div>
</div>
