<div class="container-fluid">
  <div class="header">
    <h1>Do you like burgers?</h1>
    <h5>(It's okay, we all do :D)</h5>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>Burgers you'd like to devour</h4>
      <form method="POST" action="/add" class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail3">Burger_Want</label>
          <input type="text" class="form-control" placeholder="Triple Mega Burger" name="burger_name" value={{this.id}}>
        </div>
        <button type="submit" class="btn btn-default">Ate it!</button>
      </form>
      <table class="table table-bordered">
        <thead>
          <th>Burger Name</th>
        </thead>
        <tbody>
          {{#each burgers}}
            <td>
            {{this.burgers_name}}
            </td>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h4>Burgers you've devoured</h4>
    </div>
    <table class="table table-bordered">
      <thead>
        <th>Burger Name</th>
      </thead>
      <tbody>
        <td>
        </td>
      </tbody>
    </table>
  </div>
</div>
